<!DOCTYPE html>
<html lang="en">
 <head>

	 <script src="../static/jquery-3.3.1.min.js"></script>
	 <script>
     $(function(){
	        $('.btnblock').click(function(){
		              var cat = $('#inputcatname').val();
                      alert(JSON.stringify([cat]));
		              $.ajax({
			                       url : 'http://{{ip_address}}:{{port_no}}/api/v1/categories',
			                       data : JSON.stringify([cat]),
			                       method : 'POST',
			                       success: function(response){
				                            alert(response);
			                       },
                                   error : function(error){
                                            alert("Error");
                                   }
		              });
	          });
     });
     </script>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>Rmcat Template for Bootstrap </title>
</head>

<body background="{{ url_for('static', filename='home/background.jpeg')}}">
    <div class="container">
        <form class="form-addcat" enctype="multipart/form-data" method="post" role="form">
        <h2 class="form-addcat-heading">Please Add a new Category</h2>
        <input type="text" id="inputcatname" name="categoryName" class="form-control" placeholder="Category Name" required autofocus>
        <button class="btnblock" type="submit">Create</button>
		</form>
     </div>
</body>

</html>
