<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cate.css')}}">
    <script src="../static/jquery-3.3.1.min.js"></script>
  </head>
  <body background="{{ url_for('static', filename='home/background.jpeg')}}">
    <h1 align="center"><a href="/homePage.html">  <font face = "WildWest" size = "21" color="black">SelfieLessActs</font></a> </h1>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Categories</button>
      <div id="myDropdown" class="dropdown-content">
          {% for category in categories %}
                  <a href= "/display/{{category}}.html"> {{category}} </a>
          {% endfor %}
      </div>
    </div>
    <div class="upload">
        <a href="/upload.html"><button type="button" class="upl">Upload</button></a>
    </div>
    <div class="{{catName}}">
    {% for i in image_data %}
            <img src= "data:image/png;base64,{{i['imgB64']}}" alt ="">
            <h5>{{i['actId']}}</h5>
            <h5> {{i['caption']}} </h5>
            <h5> Upvotes : {{i['upvote']}}</h5>
    {% endfor %}
    </div>
    <script>
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
              }
          }
      }
      function clickCounter(id_value) {
            count = 0;
            count++;
            var upvoteButton = document.getElementById(id_value);
            upvoteButton.innerHTML = "   "+ count + " Likes";
          }
    </script>
    <!--<?php
        $dir = 'category1';
        $file_display = array('jpg', 'jpeg', 'png', 'gif');
        $dir_contents = scandir($dir);
        $count = 1;
        foreach ($dir_contents as $file){
            $file_type = explode(".",$file);
            if ( ($file !== '.' || $file !== '..') && in_array($file_type[1], $file_display) == true) {
                echo $file ;
                echo '<img src="category1/'.$file.'"/>' ;
                echo '<br>';
                echo '<button id = "upvote'.$count.'" onclick = "clickCounter(id)" >Upvote</button>' ;
                $count+=1;
            }
        }
     ?>-->
  </body>
</html>
