<!DOCTYPE html>
<html lang="en">
 <head>
	 <script src= "../static/jquery-3.3.1.min.js"></script>
	 <script src= "../static/sha1.min.js"></script>
     <script src = "../static/sha1.js"></script>
	 <script>
     $(function(){
	        $('.btnblock').click(function(){
		              var user = $('#inputUsername').val();
		              var pass = sha1($('#inputPassword').val());
                      // JSON.stringify({username : user, password : pass})
                      //alert(pass);
                      $.ajax({
			                       url : 'http://{{ip_address}}:{{port_no}}/api/v1/users',
			                       data : {username : user, password : pass},
			                       method : 'POST',
			                       success: function(response){
				                                   alert(response);
			                       },
			                       error: function(error){
				                                   alert("Error");
			                       }
		              });
	          });
     });
     </script>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">
     <center>
 		<h1> Add user. </h1>
 	</center>
</head>

<body background="{{ url_for('static', filename='home/background.jpeg')}}">
    <div class="container">
        <form class="form-signup" enctype="multipart/form-data" role="form" >
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
        <br>
        <br>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <br>
        <br>
        <button class="btnblock" type="submit">Register</button>
		</form>
     </div>
</body>

</html>
